{% extends "base.html.twig" %}

{% block login %}{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h2 class="d-flex justify-content-center edit-or-add">Modifier les infos salarié.e :</h2>

<div class="d-flex justify-content-center">
    <form action="/employee/update" method="post">
        <p><strong>ID salarié.e : {{ e.id|e }}</strong></p>
        <input class="form-control rounded" type="number" name="id" value="{{ e.id|e }}" readonly><br>

        <label for="employee_name">nom du salarié.e :</label>
        <input class="form-control rounded" type="text" name="name" value="{{ e.name|e }}"><br>

        <label for="employee">credits du salarié.e :</label>
        <input class="form-control rounded" type="number" name="credits" value="{{ e.credits|e }}"><br>

        <label for="employee">email salarié.e :</label>
        <input class="form-control rounded" type="text" name="email" value="{{ e.email|e }}"><br>

        <label for="employee">statut salarié.e :</label>
        <input class="form-control rounded" type="number" name="is_admin" value="{{ e.is_admin|e }}"><br>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-light btn-outline-dark"><strong>enregistrer</strong></button>
        </div>

</div>

{% endblock %}